uvicorn[standard]
gunicorn
pydantic
fastapi
pydantic_settings
pydantic-extra-types

requests
orjson
email-validator


boto3

SQLAlchemy
SQLAlchemy-Utils
python-multipart
passlib[bcrypt]
python-jose[cryptography]
psycopg

alembic

PyYAML
sentry-sdk

celery[redis]
redis
scout-apm
cachetools
python-jose
firebase-admin
qrcode[pil]==7.4.2